.botao-primary {
    background-color: #0074D9;
    color: #FFFFFF;
    font-size: 18px;
  }
  
  .botao-success {
    background-color: #2ECC40;
    color: #FFFFFF;
    font-size: 16px;
  }
  
  .botao-warning {
    background-color: #FF851B;
    color: #FFFFFF;
    font-size: 20px;
  }
